<footer>
  <div class="content__span">
    <ul class="nav">
      <li><a class="btn--uline" href="/about">About</a></li>
      <li><a class="btn--uline" href="/pairs/archive">Archive</a></li>
    </ul>
    <ul class="logo">
      <li>
        <a href="/">
          <figure>
            <img src="/img/LOGO_MIN.svg" alt=""/>
          </figure>
        </a>
      </li>
    </ul>
    <ul class="feed">
      {% comment %}
      <li><a class="btn--uline" href="/rss">RSS</a></li>
      {% endcomment %}
      <li><a class="social"  href="http://twitter.com/agoodpair" target="_blank"><img src="/img/ico-Twitter.svg" alt="Twitter" /></a></li>
      <li><a class="social" href="http://instagram.com/agoodpair" target="_blank"><img src="/img/ico-Instagram.svg" alt="Instagram" /></a></li>
    </ul>
  </div>
</footer>

{% include 'includes/scripts' %}

</body>
</html>
