<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/img/favicon-32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/img/favicon-16.png" sizes="16x16" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/styles/css/base.css" />
  <script src="//use.typekit.net/aqv6tsm.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  {% include 'includes/mixpanel' %}
</head>
