<p>
  Subscribe to our newsletter
</p>
<div id="mc_embed_signup">
  <form action="//agoodpair.us10.list-manage.com/subscribe/post?u=ac39243e48f01ecbdd9f28b95&amp;id=0eca3078fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <p></p>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required=""><div style="position: absolute; left: -5000px;"><input type="text" name="b_d1b58f75fc102ddeb1e500613_816686ce09" value=""></div>
    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>
