<nav class="sticky"
data-anchor-target="#post__hero"
data-0-top-top="margin-top:-110px"
data-0-top-center="margin-top:0">
<div class="content__span">
  <a href="/">
  <figure
  data-anchor-target="#post__hero"
  data-0-top-top="opacity:0;"
  data-50-top-center="opacity:1;">
    <img src="/img/LOGO_MIN.svg" alt=""/>
  </figure>
</a>
<ul>
  <li
  data-anchor-target="#pairing"
  data-10p-top="opacity:.25"
  data-top="opacity:1"
  data-top-bottom="opacity:.25"
  ><a href="#pairing">The Pairing</a></li>
  <li
  data-anchor-target="#recipe"
  data-10p-top="opacity:.25"
  data-top="opacity:1"
  data-100-top-bottom="opacity:1"
  data-top-bottom="opacity:.25"
  ><a href="#recipe">The Recipe</a></li>
  <li
  data-anchor-target="#drink"
  data-10p-top="opacity:.25"
  data-top="opacity:1"
  data-100-top-bottom="opacity:1"
  data-top-bottom="opacity:.25"
  ><a href="#drink">The Drink</a></li>
</ul>
</div>
</nav>
