<!DOCTYPE html>
<html lang="en">
{% include 'includes/head' %}
{% include 'includes/nav' %}

<section class="page__title">
  <div class="content__span center-text title-block--title-img">
    {% comment %}
    <h1>About</h1>
    {% endcomment %}
    <div class="title-img">
      <img src="/img/titles/page-title-about.png" alt="" />
    </div>
  </div>
</section>
{% comment %}
<section id="post__hero" class="container">
  <div class="side__img left">
    <img src="/img/hero-side-baked~temp.jpg" alt="" />
  </div>
  <div class="side__img right">
    <img src="/img/hero-side-coffee~temp.jpg" alt="" />
  </div>
</section>
{% endcomment %}
<div class="carousel carousel--full">
  <div class="carousel-item">
    <img src="/assets/IMG-1.jpg"/>
  </div>
  <div class="carousel-item">
    <img src="/assets/IMG-2.jpg"/>
  </div>
  <div class="carousel-item">
    <img src="/assets/IMG-3.jpg"/>
  </div>
  <div class="carousel-item">
    <img src="/assets/IMG-4.jpg"/>
  </div>
</div>

<section class="content__sect">

  <div class="content__span">
    <p class="xlg profile--pad center-text">
      A Husband and Wife's curated journal of complementary food and drink pairings.
    </p>
  </div>

  <div class="content__span">
    <h4 class="names">Food</h4>
    <h4 class="names">Drink</h4>
    <h4 class="plus">+</h4>
    <p class="lg profile center-text x__btm-pad">A Good Pair is an amateur exploration of the senses; the result of a husband and wife design team who decided to take their respective loves of food (hers) and drink (his) and combine them into perfect pairings for any occasion (or non-occasion). Each pairing is simple and is based on the principle that when two good things come together, magic happens.<!--An amateur exploration of the senses, built on the principle that when two good things come together, magic happens. Created by John and Alex Choura, a husband and wife design team, with an appreciation of food and drink. --></p>
  </div>
</section>

<section class="content__sect">

  <figure class="profiles__box">
    <div class="prof__img left">
    </div>
    <div class="prof__img right">
    </div>
  </figure>
  <div class="content__span center-text">
    <h4 class="names">Alex</h4>
    <h4 class="names">John</h4>
    <h4 class="plus">+</h4>
    <p class="lg profile">Alex is the mastermind behind the food of AGP. She tends to set her focus on baking and enjoys creating treats both simple and memorable. John’s passion lies more in the liquid variety. He has a penchant for both coffee and cocktails, and his steady hand and scientific mind help ensure a perfect cup of whatever-it-is every time. Together, they work to create something fun, delicious, and what they believe will make for the next Good Pair.</p>
  </div>
</section>

<section class="content__sect about--foot">
  <div class="content__span grid sm-txt">
    <div class="center-text grid__col grid__col--5-of-12 fix-col">
      {{meta['credits'] | markdown}}
    </div>
    <div class="center-text grid__col grid__col--5-of-12  grid__col--push-2-of-12 fix-col">
      {{meta['thanks'] | markdown}}
    </div>
  </div>
</section>

<section class="content__sect about--foot">
  <div class="content__span ">
    <div class="post__end">
      <ul>
        <li class="mailing--list">
          {% include 'includes/mail-chimp' %}
        </li>
      </ul>
    </div>
  </div>
</section>



{% include 'includes/footer' %}

<script>

$('.carousel').slick({
  dots: true,
  infinite: true,
  lazyLoad: 'ondemand',
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 3000,
  pauseOnHover: true,
  pauseOnDotsHover: true,
  responsive: [
{
  breakpoint: 480,
  settings: {
    slidesToShow: 1,
    slidesToScroll: 1
  }
},
{
  breakpoint: 600,
  settings: {
    slidesToShow: 1,
    slidesToScroll: 1
  }
}
// You can unslick at a given breakpoint now by adding:
// settings: "unslick"
// instead of a settings object
]
});

</script>

</body>
</html>
