<nav class="sticky"
data-320-start="margin-top:-110px"
data-640-start="margin-top:0">
<div class="container">
  <div class="grid">
    <a class="grid__col grid__col--3-of-12 grid__col--push-2-of-12" href="#">Archive</a>
    <figure class="grid__col grid__col--2-of-12">
      <img src="https://dl.dropboxusercontent.com/u/49584278/Misc/logo-b.png" alt=""/>
    </figure>
    <a class="grid__col grid__col--3-of-12" href="#">About</a>
  </div>
</div>
</nav>

<nav>
  <div class="container">
    <div class="grid">
      <a class="grid__col grid__col--1-of-3" href="#">Archive</a>
      <figure class="grid__col grid__col--1-of-3">
        <img src="https://dl.dropboxusercontent.com/u/49584278/Misc/logo-b.png" alt=""/>
      </figure>
      <a class="grid__col grid__col--1-of-3" href="#">About</a>
    </div>
  </div>
</nav>

<section id="hero" class="container">
  <div class="hero__line"></div>
  <div class="hero__title-box">
    <h5>Featured Pair</h5>
    <h1>Day #:Article Title</h1>
  </div>
  <div class="hero__line"></div>
</section>
