{% if type == 'page' %}
{% include 'includes/archive' %}
{% endif %}


{% if type == 'post' %}

{% comment %}
{% include 'includes/sticky-nav' %}
{% endcomment %}

<section class="page__title">
  <div class="content__span center-text title-block--title-img">
    {% comment %}
    <h1>{{post.title}}</h1>
    <h6>{{post.date | date: "%D"}}</h6>
    {% endcomment %}
    <div class="title-img">
      <img src="{{meta['post-title']}}" alt="" />
    </div>
  </div>
</section>

<section id="post__hero" class="container">
  <div class="side__img left" style="background-image:url({{meta['hero-baked']}});">
  </div>
  <div class="side__img right"style="background-image:url({{meta['hero-coffee']}});">
  </div>
</section>

<section id="pairing" class="content__sect first">
  <div class="pair__title grid">
    <div class="pair__col--1 grid__col grid__col--6-of-12">
      <h6 class="post__title entry center">A Good Recipe</h6>
      <h2 class="post__title entry center">{{meta['recipe-headline']}}</h2>
    </div>
    <div class="grid__col grid__col--6-of-12">
      <h6 class="post__title entry center">A Good Drink</h6>
      <h2 class="post__title entry center">{{meta['drink-headline']}}</h2>
    </div>
  </div>
  <span class="deets">
    <div class="content__span">
      <ul>
        <li>
          <h6>Goods</h6>
          <p>{{meta['pairing-goods']}}</p>
        </li>
        <li>
          <h6>Time of Day</h6>
          <p>{{meta['pairing-time-o-day']}}</p>
        </li>
        <li>
          <h6>Flavors</h6>
          <p>{{meta['pairing-flavors']}}</p>
        </li>
      </ul>

    </div>
  </span>

  <div class="content__span" >
    <h2 class="post__title center">The Pairing</h2>
    <p class="post center">
      {{meta['pairing-body']}}
    </p>
  </div>

  <div class="carousel">
    <div class="carousel-item">
      <img src="{{meta['img_2']}}" alt="" />
    </div>
    <div class="carousel-item">
      <img src="{{meta['img_3']}}" alt="" />
    </div>
    <div class="carousel-item">
      <img src="{{meta['img_4']}}" alt="" />
    </div>
    <div class="carousel-item">
      <img src="{{meta['img_5']}}" alt="" />
    </div>
    <div class="carousel-item">
      <img src="{{meta['img_1']}}" alt="" />
    </div>
  </div>

</section>


<section id="recipe" class="content__sect">
  <div class="hide-content">
    <span class="overlay"></span>
    <div class="content__span--recipe">
      {% comment %}
      <h2 class="post__title thicken center">The Recipes</h2>
      {% endcomment %}
      <div class="grid">
        <div class="recipe__col--1 grid__col grid__col--6-of-12">
          {% comment %}
          // START OF RECIPE //

          <h6 class="post__title entry center">A Good Recipe</h6>
          {% endcomment %}

          <h2 class="post__title entry center">{{meta['recipe-headline']}}</h2>
          <span class="post__details">
            <ul class="border-bottom">
              <li>
                {{meta['recipe-col-1'] | markdown }}
              </li>
            </ul>
          </span>
          <span class="post__recipe">
            {{meta['recipe-post-recipe'] | markdown}}
            <h3>Done!</h3>
            <h6>now for the drink...</h6>
          </span>

        </div>
        <div class="recipe__col--2 grid__col grid__col--6-of-12">
          {% comment %}
          // START OF DRINK //

          <h6 class="post__title entry center">A Good Drink</h6>
          {% endcomment %}

          <h2 class="post__title entry center">{{meta['drink-headline']}}</h2>
          <span class="post__details">
            <ul class="x__btm-mar">
              <li>
                {{meta['drink-col-1'] | markdown }}
              </li>
            </ul>
            <ul class="brand">
              <li class="img">
                <img src="{{meta['drink-recco-img']}}" alt="" />
              </li>
              <li class="content">
                {{meta['drink-recco-title'] | markdown }}
                <ul class="min">
                  <li>
                    {{meta['drink-recco-note-1'] | markdown }}
                  </li>
                  <li>
                    {{meta['drink-recco-note-2'] | markdown }}
                  </li>
                </ul>
              </li>
            </ul>
          </span>

          <span class="post__recipe">
            {{meta['drink-post-recipe'] | markdown}}
            <h3>Done!</h3>
            <h6>Enjoy the pair</h6>
          </span>

        </div>
      </div>
    </div>
  </div>
  <div class="center-text">
    <button class="btn__box btn__box--center readmore" data-on="View Full Recipe" data-off="Hide Full Recipe">View Full Recipe</button>
  </div>
</section>





{% comment %}
// OLD LAYOUT //

<section class="content__sect">
<div class="content__span">
<h2 class="post__title center">The Recipes</h2>
<h6 class="post__title entry">A Good Recipe</h6>
<h2 class="post__title entry">{{meta['recipe-headline']}}</h2>
<figure class="post__mini-hero first" style="background-image: url({{meta['recipe-hero']}});">

</figure>
<p class="post underline"><strong>alex:</strong> {{meta['recipe-intro']}}</p>
<span class="post__details">
<ul class="border-bottom">

<li>
{{meta['recipe-col-1'] | markdown }}
</li>
<li>
{{meta['recipe-col-2'] | markdown }}
</li>
</ul>
</span>
</div>
<div class="content__span">
<h2 class="post__title center">The Recipe</h2>
<span class="post__recipe">
{{meta['recipe-post-recipe'] | markdown}}
<h3>Done!</h3>
<h6>now for the drink...</h6>
</span>
<figure class="post__mini-hero foot">
<div class="r100" style="background-image: url({{meta['recipe-sub-img-2']}});">

</div>
</figure>
</div>
</section>

<section id="drink" class="content__sect">
<div class="content__span">
<h6 class="post__title entry">A Good Drink</h6>
<h2 class="post__title entry">{{meta['drink-headline']}}</h2>
<figure class="post__mini-hero first" style="background-image: url({{meta['coffee-hero']}});"></figure>
<p class="post underline"><strong>john:</strong> {{meta['drink-intro']}}</p>
<span class="post__details">
<ul class="x__btm-mar">
<li>
{{meta['drink-col-1'] | markdown }}
</li>
<li>
{{meta['drink-col-2'] | markdown }}
</li>
</ul>
<ul class="brand">
<li class="img">
<img src="{{meta['drink-recco-img']}}" alt="" />
</li>
<li class="content">
{{meta['drink-recco-title'] | markdown }}
<ul class="min">
<li>
{{meta['drink-recco-note-1'] | markdown }}
</li>
<li>
{{meta['drink-recco-note-2'] | markdown }}
</li>
</ul>
</li>
</ul>
</span>
</div>
<div class="content__span">
<h2 class="post__title center">Process</h2>
<span class="post__recipe">
{{meta['drink-post-recipe'] | markdown}}
<h3>Done!</h3>
<h6>Enjoy the pair</h6>
</span>
<figure class="post__mini-hero foot last">

<div class="r100" style="background-image: url({{meta['coffee-sub-img-2']}});">

</div>
</figure>
</div>
</section>

// END OLD LAYOUT //
{% endcomment %}




<section class="content__span ">
  <div class="post__end">
    <h3>Thanks for reading.</h3>
    <ul>
      <li class="social social__t">
        <img src="/img/ico-Twitter.svg" alt="Twitter" />
        <div class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="AGoodPair">Tweet</a>
        </div>
      </li>
      <li class="social social__f">
        <img src="/img/ico-Facebook.svg" alt="Facebook" />
        <div class="fb-like" data-href="{{ current.permalink | escape }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </li>
      <li class="mailing--list">
        {% include 'includes/mail-chimp' %}
      </li>
    </ul>
  </div>
</section>


{% if current.parent and (current.previous or current.next) %}
<section class="post__pagenation">
  <div class="content__span grid">
    {% if current.previous %}
    <div class="grid__col grid__col--5-of-12 left--turn">
      <a href="{{ current.previous.url }}">
        <i></i>
        <h6>Previous Good Pair</h6>
        <h4 class="page--title">{{ current.previous.title }}</h4>
      </a>
    </div>
    {% else %}
    <div class="grid__col grid__col--5-of-12 left--turn">
      <h6 class="dead--end">This is the </br>first pair.</h6>
    </div>
    {% endif %}
    <div class="grid__col grid__col--2-of-12 archive">
      {% if parent %}
      <a href="/pairs/archive">
        <h4 class="btn btn--uline">Archive</h4>
      </a>
      {% endif %}
    </div>
    {% if current.next %}
    <div class="grid__col grid__col--5-of-12 right--turn">
      <a href="{{ current.next.url }}">
        <i></i>
        <h6>Previous Good Pair</h6>
        <h4 class="page--title">{{ current.next.title }}</h4>
      </a>
    </div>
    {% else %}
    <div class="grid__col grid__col--5-of-12 right--turn">
      <h6 class="dead--end">This is the most</br> recent pair.</h6>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
{% endif %}


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=279608135389500&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
